<h2 align="center">What we got so far?</h2>
<div align="center">
  <%= will_paginate %>
</div>

<br>

<div class="col-md-offset-4 col-md-4">
  <div class="center form-group">
    <%= form_tag articles_path, method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <br>
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>

<br>

<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>

