<h2 align="center"> <%= @article.title %></h2>
<br>

<div class="well col-xs-8 col-xs-offset-2">
  <% if @article.user %>
  <ul class="listing">
      <div class="row center">
        <div class="col-md-4 col-md-offset-4">
          <li>Contributed by:</li>
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="article-title">
            <%= link_to @article.user.username, user_path(@article.user) %>
          </li>
          <li>
            <small>
              <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
            </small>
          </li>
          <li class="article-meta-details center">
            Created <%= time_ago_in_words(@article.created_at) %> ago,
            and last updated <%= time_ago_in_words(@article.updated_at) %> ago
          </li>
        </div>
      </div>
  </ul>
  <% end %>
  <h4 class="center description"><strong>Content:</strong></h4>
  <hr>
  <div class="article-content">
    <%= simple_format(@article.description) %>
    <% if @article.categories.any? %>
      <p>Tags: <%= render @article.categories %></p>
    <% end %>
  </div>
  <div class="article-actions center">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to "Delete", article_path(@article), method: :delete,
                                        data: { confirm: "If that is what you want?"},
                                        class: "btn btn-danger" %>
    <% end %>
    <%= link_to "Back", articles_path, class: "btn btn-success" %>
  </div>
</div>

<hr>
<div class='col-md-12'>
  <%= form_for [@article, @comment], :html => {class: "form-horizontal", role: "form"} do |f| %>
    <% if @comment.errors.any? %>
      <div class="panel panel-danger col-md-offset-1">
        <div class="panel-heading">
          <h2 class="panel-title">
          <%= pluralize(@comment.errors.count, "error") %>
            prohibited this article from being saved:
          </h2>

          <div class="panel-body">
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

  <br>

  <div class='form-group'>
    <div class='control-label col-md-2'>
      <%= f.label :body, 'New Comment' %>
    </div>

    <div class='col-md-8'>
      <%= f.text_area :body, rows: 3, class: 'form-control', placeholder: 'Your comment' %>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-md-offset-2 col-md-8'>
      <%= f.submit "Add Comment", class: 'btn btn-primary btn-default pull-right' %>
    </div>
  </div>

  <% end %>
</div>

<div class='col-md-offset-2 col-md-10'>
  <header>
    <h3>Comments</h3>
  </header>

  <div class="col-md-10">
    <% if @article.comments.any? %>
      <% @article.comments.persisted.each do |comment| %>
        <div class="comment-body">
          <%= comment.body %>
        </div>
        <div class="comment-time text-right">
          <%= time_ago_in_words(comment.created_at) %>
            ago by <%= comment.user.email %>
        </div>

      <hr>
      <% end %>

    <% else %>
      There are no comments to show.
    <% end %>

  </div>
</div>
